/* Add your global styles here */

/* Example */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
  background: #F4F4F4;

}
.navbar {
  display: flex;
  align-items: center;
   background: #F05A22;
  color: white;
  padding: 5px 20px;
}
.navbar-left{

  flex-basis: 40%;
}

.navbar-icons {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
 justify-content: space-between;
 border-radius: 20px;
 gap: 60px;
  padding: 10px 40px;
}

.icon {
  cursor: pointer;
}
.search-bar{
  margin: 20px;
}
input{
  width: 80vw;
  margin: 0 auto;
  padding: 8px;
  outline: 0;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}
h2{
  margin-left: 15px;
}
/* src/Grid.css */
.grid-container {
  margin: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

/* src/components/Home.css */
.grid-item {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.grid-item img{
  width: 100%;
  border-radius: 20px;
}
.link-style {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
 
}
p{
  color:grey;
}
.read-more{
  color:#F05A22;
  font-weight: bold;
}
.data{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.greaterthan{
  width: 100px; /* Set the width you desire */
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #F05A22;
  border-radius: 5px;
}
.Selected-post{
  margin: 2%;
  display: flex;
  gap:20px;
}
.img-div{
  flex-basis: 30%;
  position: relative;
}
.info{
  flex-basis: 60%;
}
.img-div img{
  border-radius: 20px;
  max-width:100%;
}
.bottom{
  display: flex;
   gap:130px;
  position: absolute;
  bottom:5px;
  left:10px;
  color: white;
  font-size: 18px;
}
.bottom p{
  color:white;
}

.icons2{
  display: flex;
  gap:20px;
}
button {
  padding: 10px 20px;
  background-color: white;
  color:black;
  border:0;
  outline: 0;
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
  border-radius: 10px;
}

button.active {
  background-color: #F05A22;
  color: white;
}
.Heading{
  margin: 2%;
  display:flex;
  align-items: center;

}
.nav-link {
  margin: 0 10px;
  color: #ccc; /* Default icon color */
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.nav-link.active {
  color: #F05A22; /* Active icon color */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-center {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .navbar-icons {
    margin-top: 10px;
  }
  .search-bar{
    margin: 20px 10px;
  }
  .Selected-post{
    flex-direction: column;
  }
  .img-div{
    width:98%;
  }
  .info{
    width:98%;
  }
  .navbar-icons {
    
   gap: 30px;
    padding: 10px 20px;
  }
}
